{% if nrinfragent_logging is defined -%}
logs:
{%- set log_config = nrinfragent_logging | to_nice_yaml(indent=2, sort_keys=False) %}
{%- for entry in log_config.split("\n") %}
{%- if entry != "" %}
  {{ entry }}
{%- endif -%}
{%- endfor -%}
{% endif %}
